# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# Node (if frontend used)
# =========================
node_modules/

# =========================
# Data (VERY IMPORTANT)
# =========================
backend/data/images/
backend/data/thumbs/

# =========================
# Models (VERY IMPORTANT)
# =========================
backend/models/
*.onnx
*.pt
*.pth

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/